:root {
  --primary: #4df566;
  --text: #222;
  --card-bag: rgba(255, 255, 255, 0.88);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

header {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 1rem;
}

main{ max-width: 1100px;
margin: 0 auto;}

.hero{
  position: relative;
}

.hero picture img {
  width: 100%;
  height: auto;
  display: block;
}

/* GRID OVER IMAGE */
.hero-grid {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  align-items: start;
}

/* CARDS*/
.data, .weather {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--card-bag);
}

h2 {
  margin-bottom: 0.5rem;
  color: white;
  background-color: var(--primary);
}

ul {
  list-style: none;
}

.weather-icon {
  width: 50px;
  margin-bottom: 0.5rem;
}

footer {
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* MOBILE VIEW*/
@media (max-width: 767px) {
  .hero-grid {
    position: static;
    grid-template-columns: 1fr;
  }
}