:root{
--primary-colour:#69f7f7;
--secondary-colour: #f4f4f4;
--accent-colour: #f6f5f3;
--text-colour: #222;
 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-colour);
    background-color: var(--secondary-colour);
}

header{
    background-color: var(--primary-colour);
    color: white;
    padding: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header h2 {
    font-family: 'playfair Display', serif;
    font-size: 1.5rem;
}

#menu-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav {
    display: none;
    flex-direction: column;
    background-color: var(--primary-colour);
}

nav a {
    padding: 1rem;
    text-decoration: underline;
    text-decoration-color: rgb(254, 227, 227);
    color: white;
    font-weight: 550;
    border-top: 1px solid rgba(225, 249, 236, 0.4);
}

nav a:hover {
    background-color: var(--accent-colour);
    color: black;
}

nav.open {
    display: flex;
}

main{
    max-width: 900px;
    margin: 1rem auto;
    padding: 1rem;
}

main h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

figure {
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

figure img {
    width: 100%;
    display: block;
}

figcaption {
    padding: 0.75rem;
    text-align: center;
    font-weight: 600;
}

footer {
    background-color: var(--primary-colour);
    columns: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}